﻿<div class="wpthemeHiddenPlus">
<section class="ibmPortalControl wpthemeControl wpthemeHiddenPlusControl wpthemeHiddenPlus a11yRegionTarget" role="region" aria-labelledby="">
	
	<!-- asa.portlet.id marks the node whose contents are the id of this layout control -->
	<span style="display:none" class="asa.portlet.id"></span>
	<div class="wpthemeHiddenPlusControlHeaderParent">
	<a tabindex="0" title="display menu" onfocus="var currentNode = this; while (currentNode.nodeName.toLowerCase() != 'header') { currentNode = currentNode.nextSibling; } currentNode.style.display='table';"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""/></a>
	<header class="wpthemeControlHeader wpthemeHiddenPlusControlHeader">
		<div class="wpthemeInner">
			<h2>
				<img class="dndHandle" draggable="true" ondragstart="wpModules.dnd.util.portletDragStart(event, this, this.parentNode, 30, 0);"
				ondragend="wpModules.dnd.util.portletDragEnd(event);" 
				src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""/>
				<!-- lm-dynamic-title node marks location for dynamic title support -->
				<span class="lm-dynamic-title asa.portlet.title a11yRegionLabel"><a rel="dynamic-content" href="lm:title"></a></span>
			</h2>
			<a aria-label="Menu Exibir" aria-haspopup="true" role="button" href="javascript:;" class="wpthemeIcon wpthemeActionDisabled wpthemeMenuFocus" tabindex="0"
                onclick="if (typeof wptheme != 'undefined') wptheme.contextMenu.init({ 'node': this, menuId: 'skinAction', jsonQuery: {'navID':ibmCfg.portalConfig.currentPageOID,'windowID':wptheme.getWindowIDFromSkin(this)}, params: {'alignment':'right'}});"
				onmousemove="javascript:if (typeof i$ != 'undefined' &amp;&amp; typeof wptheme != 'undefined') { i$.removeClass(this,'wpthemeActionDisabled'); this.onmousemove = null; }"
				onkeydown="javascript:if (typeof i$ != 'undefined' &amp;&amp; typeof wptheme != 'undefined') {if (event.keyCode ==13 || event.keyCode ==32 || event.keyCode==38 || event.keyCode ==40) {wptheme.contextMenu.init(this, 'skinAction', {'navID':ibmCfg.portalConfig.currentPageOID,'windowID':wptheme.getWindowIDFromSkin(this)}); return false;}}">
				<span title="Menu Exibir"><img aria-label="Menu Exibir" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></span>
				<span class="wpthemeAltText">Menu Exibir</span>
			</a>
		</div>
	</header>
	</div>
	
	<div class="wpthemeControlBody wpthemeHiddenPlusControlBody wpthemeOverflowAuto wpthemeClear"> <!-- lm:control dynamic spot injects markup of layout control -->
		<a rel="dynamic-content" href="lm:control"></a> 
		<div class="wpthemeClear"></div>
	</div>
</section> 
</div>