<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="NVEnergyThemeEAR">
        <wb-resource deploy-path="/" source-path="/" tag="defaultRootSource"/>
        <dependent-module archiveName="NVEnergyDynTheme.war" deploy-path="/" handle="module:/resource/NVEnergyDynTheme/NVEnergyDynTheme">
            <dependent-object>Module_1447388201406</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="NVEnergyStaticTheme.war" deploy-path="/" handle="module:/resource/NVEnergyStaticTheme/NVEnergyStaticTheme">
            <dependent-object>Module_1447388201407</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>