.wpthemeFrame {
	min-width: 320px;
}

.wpthemeInner,
.wpthemeSecondaryNav { 
	width: 100%;
}

.wpthemeBannerPrimaryNavigation {
	display: none;
}

.wpthemeHeader {
	height: 35px;
    padding: 5px 0;
    border-bottom: 1px solid #292929;
}
/* minimize the look of the scrollbar */
.wpthemeHeaderNav ul::-webkit-scrollbar {
    height: 0;
}
.wpthemeHeaderNav ul::-webkit-scrollbar-thumb {
    background: #424142;
}

.wpthemeHeader .wpthemeInner {
	overflow-x: auto;
	overflow-y: hidden;
}

.wpthemeHeaderNav ul {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	line-height: 2.4em;
}

.wpthemeHeaderNav ul li.wpthemeNavListItem {
	display: inline-block;
	float: none;
}

.wpthemeHeader .wpthemeHeaderNav ul li a,
.wpthemeHeader .wpthemeHeaderNav ul li a:link,
.wpthemeHeader .wpthemeHeaderNav ul li a:hover,
.wpthemeHeader .wpthemeHeaderNav ul li a:active,
.wpthemeHeader .wpthemeHeaderNav ul li a:focus, 
.wpthemeHeader .wpthemeHeaderNav ul li a:visited {
	float: none;
    padding: 7px 13px;
    font-size: 1.3em;
}

.wpthemeMainContent {
	min-height: 25px;
}

.wpthemeCommonActions.wpthemeRight {
	/* logout/login button */
	width: 15%;
	line-height: 1.64;
}

#wpthemeLogout, #wpthemeLogin {
    padding: 8px 0;
    width: 100%;
}

#logoutlink, #wpthemeLogin a {
    background: -moz-linear-gradient(center top , #5C5C5C 0%, #272727 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5C5C5C), color-stop(100%,#272727)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5C5C5C 0%,#272727 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5C5C5C 0%,#272727 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #5C5C5C 0%,#272727 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5C5C5C', endColorstr='#272727',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #5C5C5C 0%,#272727 100%); /* W3C */
    border: 2px solid #202020;
    color: #CACACA;
    float: right;
    margin: 0 6px;
    padding: 2px 8px;
    width: auto;
    white-space: nowrap;
}

.wpthemeCommonActions.wpthemeLeft {
	/* IBM logo */
	margin-left: 20%;
    position: absolute;
    width: 60%;
}

.wpthemeCommonActions.wpthemeLeft li {
	/* IBM logo centered */
	width: 100%;
}
	
.wpthemeBanner ul.wpthemeLeft.wpthemeCommonActions .wpthemeBranding {
    margin: 12px 0;
    padding: 0;
}
	
.wpthemeCommonActions .wpthemeBranding img {
	width: 71px;
	height: 26px;
	background-position: 0 -890px
	background-image: url("../images/master.png");
    margin: 0 auto;
}

.wpthemeCommonActions li a.wpthemeSearchBtn, 
.wpthemeCommonActions li a.wpthemeSearchBtn:active {
	border-right: none;
}

.wpthemeSearchBtn img {
	background-image: url("../images/master.png");
    height: 18px;
	width: 13px;
	background-position: 0 -240px;
}
	
.wpthemeCommonActions li {
	padding: 0;
}

.wpthemeBanner ul.wpthemeCommonActions > li > span,
.wpthemeBanner ul.wpthemeCommonActions li a,
.wpthemeBanner ul.wpthemeCommonActions li a:link,
.wpthemeBanner ul.wpthemeCommonActions li a:visited,
.wpthemeBanner ul.wpthemeCommonActions li a:hover,
.wpthemeBanner ul.wpthemeCommonActions li a:active,
.wpthemeBanner ul.wpthemeCommonActions li a:focus {
	width: 100%;
	margin: 0;
   	text-align: center;
   	border: none;
   	font-size: 1.3em;
	padding: 0;
}
	
.wpthemeBannerInner {
	border-bottom: none;
	background: -moz-linear-gradient(center top , #403f3f 0%, #272727 100%) repeat scroll 0 0 transparent; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#403f3f), color-stop(100%,#272727)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #403f3f 0%,#272727 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #403f3f 0%,#272727 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #403f3f 0%,#272727 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403f3f', endColorstr='#272727',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #403f3f 0%,#272727 100%); /* W3C */
}

.wpthemeBanner .wpthemeMobileBorder {
	border-bottom: 3px solid #008ABF;
	clear: both;
}
	
.wpthemeFooter {
	margin: 0 20px;
}

.wpthemeFooter li {
    margin: 8px 0;
}
	
.wpthemeFooterCol {
	width: 100%;
	padding: 0;
	margin-top: 15px;
}

.wpthemeFooterCol h3 {
	margin: 0;
	font-size: 1.4em;
}
	
.wpthemeFooter a, 
.wpthemeFooter a:visited, 
.wpthemeFooter a:hover, 
.wpthemeFooter a:active, 
.wpthemeFooter a:focus {
	font-size: 1.5em;
	color: #000;
}

@media (max-width: 360px) {
	/* the login/logout button is too large at small widths in some languages */
	.locale_es #logoutlink, .locale_es #wpthemeLogin a,
	.locale_ca #logoutlink, .locale_ca #wpthemeLogin a,
	.locale_fi #logoutlink, .locale_fi #wpthemeLogin a,
	.locale_hu #logoutlink, .locale_hu #wpthemeLogin a,
	.locale_fr #logoutlink, .locale_fr #wpthemeLogin a,
	.locale_pt #logoutlink, .locale_pt #wpthemeLogin a,
	.locale_pt_BR #logoutlink, .locale_pt_BR #wpthemeLogin a,
	.locale_ru #logoutlink,
	.locale_tr #logoutlink, .locale_tr #wpthemeLogin a,
	.locale_uk #logoutlink
{
		font-size: 1em;
		padding: 5px 8px;
		margin: 0 6px;
	}
}

.wpthemeBanner ul.wpthemeLeft.wpthemeCommonActions .wpthemeBranding {
   width: 72px;
}

.wpthemeCommonActions.wpthemeRight {
	/* logout/login button */
	width: 40%;
	line-height: 1.64;
}


.wpthemeCommonActions.wpthemeLeft {
	/* IBM logo */
    margin-left: 15%;
    position: absolute;
    width: 45%;
}


.wpthemeBanner ul.wpthemeLeft.wpthemeCommonActions .wpthemeBranding {
    margin: 12px 0;
    padding-left: 50%;
} 
